body {
    background-color: #000000;
}

.nav_bar {
    background-color: #4caf50;
    height: 80px;
    padding: 0 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.heading_container {
    align-items: center;
}

.heading {
    text-align: center;
    font-size: 250%;
}

.buttons_container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
}

.test_box {
    background-color: #008cba;
    width: 50%;
    height: 250px;
    margin: 10% auto;
    border-radius: 10%;
    padding: 10px;
}

.test {
    text-align: center;
    font-size: 120%;
}